/* Master styles */

body {
 margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Lato',sans-serif;
}

/* nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;    
}

.left-side{
    display: flex;
}

.left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black; 
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important; /*devemos sobrescrever a opçao default*/
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;/*para usarmos o position absolute, tinhamos que ter usado o position relative no seu parente. Para forçarmos uma condição de sobreposição.*/
    top: 0; /*queremos que o texto esteja posicionado ao topo maximo*/
    display: flex;
    flex-direction: column;/*centralizar os itens*/
    justify-content: center;/*centralizar eles da esquerda para a direita*/
    align-items: center;/*centralizar top ao bottom*/
    height: 100%;/*queremos utilizar 100% da altura do parente*/
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;/*evitar que a fonte passe do tamanho normal para 600 do hover*/
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About page */

.two-columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}
